<VirtualHost *:80>
    ServerName localhost
    DocumentRoot /var/www/html

    ErrorLog /var/log/httpd/glpi_error.log
    CustomLog /var/log/httpd/glpi_access.log combined

    RedirectMatch 302 ^/$ /glpi/
    RedirectMatch 302 ^/glpi$ /glpi/

    Alias /glpi/ /var/www/glpi/public/

    <Directory /var/www/html>
        Require all granted
        Options FollowSymLinks
        DirectoryIndex index.html index.php
        AllowOverride None
    </Directory>

    <Directory /var/www/glpi/public>
        Require all granted
        Options FollowSymLinks
        AllowOverride None
        DirectoryIndex index.php

        RewriteEngine On
        RewriteBase /glpi/

        RewriteCond %{HTTP:Authorization} ^(.+)$
        RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ index.php [QSA,L]

        <FilesMatch \.php$>
            SetHandler "proxy:fcgi://127.0.0.1:9000"
        </FilesMatch>
    </Directory>
</VirtualHost>
